      <form role="form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
   <input  type="text" formControlName="firstname" 
                  autocomplete="firstname" placeholder="First Name">
               <input  type="text" formControlName="lastname" 
                  autocomplete="lastname" placeholder="Last Name" >
   
              <input  type="text" formControlName="address" 
                    autocomplete="address" placeholder="Address" >
            <div fxLayout="row" fxLayoutAlign="space-between stretch">
 
                <input  type="text" formControlName="city" 
                  autocomplete="citt" placeholder="City"  >  
                  <input  type="text" formControlName="state" 
                  autocomplete="citt" placeholder="state"  >  
            </div>          

                <input  type="text" formControlName="phone" 
                  autocomplete="Phone" placeholder="Phone"  >
           
                <input  type="text" formControlName="mobilephone" 
                  autocomplete="mobilephone" placeholder="Mobile Phone"  >

                <input  type="email" formControlName="email" 
                  class="form-control" value="" autocomplete="email" placeholder="E-mail" >
            <div fxLayout="row" fxLayoutAlign="space-between stretch">
  
  
                <input  type="password" formControlName="password1" 
                  type="password" autocomplete="off">

                <input  type="password" formControlName="password2" 
                      class="form-control"  autocomplete="off">
                <!-- <mat-placeholder>
                  <mat-icon>lock_outline</mat-icon> Password confirmation
                </mat-placeholder> -->
     
            </div>
  
                <button mat-button color="primary" type="submit" [disabled]="!formRegister.valid">
                 <div>register</div>
                </button>

  
      </form>
  
  

  
  