<!-- <li *ngFor="let user of userInfo.data">
  <span>{{ user.first_name }} {{ user.last_name }}</span>
</li> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="topnav" id="myTopnav">
  <a routerLink="./home" class="active">Home</a>
  <a routerLink="./list">List</a>
  <a routerLink="./login">Login</a>
  <a routerLink="./register">Registo</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<router-outlet></router-outlet>


<!-- <app-list></app-list> -->